.tabs widget {
.margin: 0 auto -4em;
}
#gridContainer {
	min-height:100%;
    
    height: 100%;
    width: 100%;
/*     overflow: scroll; */
}
#componentsGrid {
	height: 600px;
    min-height:100%;
/*     height: 100%; */
    width: 30%;
    float:left;
    margin:20px;
/*     overflow: scroll; */
}
#chemicalsGrid {
	height: 600px;
    min-height:100%;
/*     height: 100%; */
    width: 30%;
    float:left;
    margin:20px;
/*     overflow: scroll; */
}
#gridResults {
	height: 600px;
    min-height:100%;
/*     height: 100%; */
    width: 30%;
    float:left;
    margin:20px;
/*     overflow: scroll; */
}
#member-tab{
/* 	height: 600px; */
}